<div class="card">
  <div class="card-image">
    <%= image_tag ["icon-1.jpg", "icon-2.jpg", "icon-3.jpg", "icon-4.jpg", "icon-5.jpg"].sample %>
  </div>
  <div class="card-content">
    <div class="card-title">
      <h3><%= link_to challenge.title, challenge %></h3>
    </div>
    <div class="card-tag">
      <p><%= challenge.tagline %></p>
    </div>
  </div>
</div>
