// .trans {
//   background: rgba(0, 0, 0, 0.5);
//   margin-top: 2rem;
//   color: $white !important;
//
//   label {
//     color: $white !important;
//   }
//
//   .report-title h1 {
//     color: $white !important;
//   }
// }

// label {
//   color: $white !important;
// }

.trans {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 2rem;
  margin-top: 2rem;
  min-height: 300px;
  padding: 15px;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  th {
    white-space: nowrap;
  }

  td {
    width: 100%;
  }

  label {
    color: $white;
  }
}

.trans-title {
  text-align: center;
  // border-top: 1px solid $white;
  // border-bottom: 1px solid $white;
  margin-bottom: 1rem;

  h2 {
    color: $white !important;
  }
}
