.welcome-intro {
  background-image: image-url("landscape-mountains-nature-sky.jpg");
  background-position: center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
