<div class="icon-bar large-vertical one-up">
  <a href="<%= user_entries_path(current_user)  %>" class="item">
    <i class="material-icons">terrain</i>
    <label for="">My Challenges</label>
  </a>
</div>

<ul class="side-nav">
  <li><%= link_to "My Challenges", user_entries_path(current_user) %></li>
</ul>
