<div class="icon-bar large-vertical one-up">
  <a href="<%= user_entries_path(current_user)  %>" class="item">
    <i class="material-icons">terrain</i>
    <label for="">My Challenges</label>
  </a>
</div>
