<div class="icon-bar large-vertical two-up">
  <a href="<%= user_entries_path(current_user)  %>" class="item">
    <i class="material-icons">terrain</i>
    <label for="">My Challenges</label>
  </a>
  <a href="<%= my_reports_path(current_user) %>" class="item">
    <i class="material-icons">assignment</i>
    <label for="">My Trail Reports</label>
  </a>
</div>
